</div>
</div>
</div>

<button id="top">
<i class="fas fa-angle-double-up"></i>
</button>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="js/main.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
</body>
</html>