<div class="left_profile col-3 ">
<ul class="ul_profile">
<li><a href="/admin/dashboard">
<div class="btn btn_profile">Dashboard</div>
</a></li>

<li><a href="/admin/users">
<div class="btn btn_profile">Users</div>
</a></li>

<li><a href="/admin/tasks">
<div class="btn btn_profile">Tasks</div>
</a></li>
</ul>
</div>